@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin-bottom: 5px;
}

body {
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    font-family: "Overpass";
    font-size: 14px;
    min-height: 100vh;
}

.container, .container2 {
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: hsl(213, 19%, 18%);
    padding: 1rem;
    margin-bottom: 20px;
    width: 50%;
    max-width: 340px;
}

.icon img {
    background-color: hsl(217, 20%, 23%);
    padding: 12px 12px;
    border-radius: 50%;
    overflow: hidden;
}

h2 {
    color:  hsl(0, 0%, 100%);
} 

p, .btn-num {
    line-height: 1.3rem;
    color:  hsl(217, 12%, 63%);
}

.container ul li button {
    font-size: 14px;
    border-radius: 50%;
    background-color: hsl(217, 20%, 23%);
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.container ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container ul li button:hover {
    background-color: hsl(25, 97%, 53%);
}

.container ul li button:focus {
    background-color:  hsl(217, 12%, 63%);;
    color: hsl(0, 0%, 100%);
}

button.submit-btn {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0 10px 0; 
    border-radius: 20px;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.2s;
}

.submit-btn:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.container2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.selection-btn {
    border-radius: 20px;
    background-color: hsl(217, 20%, 23%);
    color: hsl(25, 97%, 53%);
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
}

.hidden {
    display: none;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    color: hsl(0, 0%, 100%);;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {
    div.container, div.container2 {
        width: 340px;
    }
}

@media only screen and (max-width: 1440px) {
    div.container, div.container2 {
        width: 1356px;
    }
}